extends layout

block content
  link(rel='stylesheet', href='/stylesheets/landing.css')
  div.center-horizontal-simple
    div.pure-g-r
      div.pure-u-1-3
      div.pure-u-1-3
        div#draggable.center.panel
          h1.shadow-text Hi, I'm Keith
          h4.shadow-text I'm working on something fun for you,<br> but it's not quite ready yet.
          h4.shadow-text If you prod me, it might get finished faster.
          a#prod.pure-button.pure-button-xsmall.shadow Prod
          
          h4.shadow-text In the mean time, find me here:
          div.social-box
            a(href="http://blog.keithmazanec.com").social-icon
              i#blog.foundicon-torso.icon-style
            a(href="https://github.com/kmazanec").social-icon
              i#github.foundicon-github.icon-style
            a(href="http://www.linkedin.com/in/kmazanec").social-icon
              i#linkedin.foundicon-linkedin.icon-style
            a(href="https://twitter.com/kmazanec").social-icon
              i#twitter.foundicon-twitter.icon-style
      div.pure-u-1-3
        span#blog_tag.tag-hover.shadow Blog
        span#github_tag.tag-hover.shadow GitHub               
        span#linkedin_tag.tag-hover.shadow LinkedIn
        span#twitter_tag.tag-hover.shadow Twitter