body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: 'Quicksand', sans-serif;
}
a, p {
  font-weight: 400;
  font-family: 'Quicksand', sans-serif;  
}

.pure-g-r > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.l-box {
  padding: 1em;
}

.center-horizontal-simple {
  margin: 12em auto;
}

.backdrop {
  background: url("../images/03381_wielkilipnik_1280x800.jpg");
}

.panel {
  /*background: #57A3E8;*/
  background: url("../images/03381_wielkilipnik_1280x800_blur.jpg") 0 0 fixed;
  border: 1px solid #888;
  color: #eee;
}

.shadow {
  box-shadow: 1px 1px 6px 1px #666;
}

.social-icon {
  padding: 0.5em;
  font-size: 3em;
}

.shadow-text {
  text-shadow: 1px 1px 2px #666;  
}

.icon-style {
  text-shadow: 1px 1px 2px #666;
  color: #eee;
}
.icon-style:hover {
  text-shadow: 2px 2px 4px #666;
  color: #FE8B52;
}

.pure-button:hover {
  background-color: #FE8B52;
}

.panel a {
  color: #222;
  text-decoration: none;
}


@media (max-width: 600px) {
  .bg-img {
    background-size: auto 100%;
  }
}

.chicago {
  background: url(../images/01520_chicagoskyline_1680x1050.jpg) 50% 0 no-repeat fixed;
  min-height: 1000px;
}

.vandy {
  background: url(../images/vandy-pana-smaller.jpg) 0 0 no-repeat fixed;
  min-height: 2700px;
}
.solon {
  background: url(../images/solon_air.jpg) 50% -50% no-repeat fixed;
  min-height: 1000px;
}

.divider {
  position: relative;
  background: #111;
  margin: 0;
  padding: 10px;
  min-height: 22em;
  box-shadow: 0 0 100px 100px #111;
  z-index: 100;
}

.story-container {
  margin-top: 60%;
}

.moon {
  width: 80px;
  height: 80px;
  padding: 3em;
  background: url(../images/moon2.png) center center;
  box-shadow: 0 0 800px 5px #D2D1D3;
  opacity: 0.95;
  border-radius: 250px;
  position: relative;
}

.center {
  text-align: center;
}

.narrative {
  width: 270px;
  height: 170px;
  padding: 15px;
  position: relative;
  background: url(../images/vandy-grass-blur-feather.png) center no-repeat;

}

.vandy-story-1 {
  top: 450px;
  left: 60%;
}

.vandy-story-2 {
  top: 1000px;
  left: 50%;
}

.vandy-story-3 {
  top: 1400px;
  left: 40%;
}